force-app/main/default/flows/Get_Games_By_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Get_Games_By_Date</name>
        <label>Get Games By Date</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>GetGames.Get Games By Date</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Get_Games_Data</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>date</name>
            <value>
                <stringValue>2017-JUL-31</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>key</name>
            <value>
                <stringValue>2c332a81a36e484da7dda38c11a5e098</stringValue>
            </value>
        </inputParameters>
        <nameSegment>GetGames.Get Games By Date</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Get_Games_Data</name>
        <label>Get Games Data</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>GetGames</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Games_By_Date.2XX</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Transform_Games</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>Games_Data</name>
        <collectionReference>Get_Games_By_Date.2XX</collectionReference>
        <dataType>Number</dataType>
        <displayField>GameID</displayField>
        <object xsi:nil="true"/>
        <valueField>GameID</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Get Games By Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Games By Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Game_Records</name>
        <label>Create Game Records</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <inputReference>Transform_Games</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Games_By_Date</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <transforms>
        <name>Transform_Games</name>
        <label>Transform Games</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Create_Game_Records</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>Game__c</objectType>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Away_Team_Errors__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GetGames[$EachItem].AwayTeamErrors</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Away_Team_Hits__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GetGames[$EachItem].AwayTeamHits</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Home_Team_Errors__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GetGames[$EachItem].HomeTeamErrors</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Home_Team_Hits__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GetGames[$EachItem].HomeTeamHits</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>GetGames</name>
        <apexClass>ExternalService__GetGames_Getx20Gamesx20Byx20Date_OUT_2XX</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
