force-app/main/default/flows/Get_Games_By_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Assign_Games_To_Innings</name>
        <label>Assign Games To Innings</label>
        <locationX>264</locationX>
        <locationY>890</locationY>
        <actionName>assignGamestoInnings</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Innings</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputInnings</name>
            <value>
                <elementReference>Transform_Innings</elementReference>
            </value>
        </inputParameters>
        <nameSegment>assignGamestoInnings</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Assign_Teams_to_Games</name>
        <label>Assign Teams to Games</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <actionName>assignTeamstoGames</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Games</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputGames</name>
            <value>
                <elementReference>Transform_Games</elementReference>
            </value>
        </inputParameters>
        <nameSegment>assignTeamstoGames</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Games_By_Date</name>
        <label>Get Games By Date</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>GetGames.Get Games By Date</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Transform_Games</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>date</name>
            <value>
                <elementReference>Input_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>key</name>
            <value>
                <stringValue>2c332a81a36e484da7dda38c11a5e098</stringValue>
            </value>
        </inputParameters>
        <nameSegment>GetGames.Get Games By Date</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Get Games By Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Games By Date</label>
    <loops>
        <name>Loop_Through_Games</name>
        <label>Loop Through Games</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <collectionReference>Get_Games_By_Date.2XX</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Transform_Innings</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Games</name>
        <label>Create Games</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Loop_Through_Games</targetReference>
        </connector>
        <inputReference>Assign_Teams_to_Games</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Innings</name>
        <label>Create Innings</label>
        <locationX>264</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Loop_Through_Games</targetReference>
        </connector>
        <inputReference>Assign_Games_To_Innings</inputReference>
    </recordCreates>
    <screens>
        <name>Date_Pick_Screen</name>
        <label>Date Pick Screen</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Games_By_Date</targetReference>
        </connector>
        <fields>
            <name>Input_Date</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>2023-JUL-31</stringValue>
            </defaultValue>
            <fieldText>Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Date_Pick_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Transform_Games</name>
        <label>Transform Games</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Assign_Teams_to_Games</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>Game__c</objectType>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Away_Team_Errors__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Games_By_Date.2XX[$EachItem].AwayTeamErrors</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Away_Team_Hits__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Games_By_Date.2XX[$EachItem].AwayTeamHits</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Home_Team_Errors__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Games_By_Date.2XX[$EachItem].HomeTeamErrors</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Home_Team_Hits__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Games_By_Date.2XX[$EachItem].HomeTeamHits</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Away_Team__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Games_By_Date.2XX[$EachItem].AwayTeam</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Home_Team__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Games_By_Date.2XX[$EachItem].HomeTeam</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Game_Sports_Data_ID__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Games_By_Date.2XX[$EachItem].GameID</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Transform_Innings</name>
        <label>Transform Innings</label>
        <locationX>264</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Assign_Games_To_Innings</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>Inning__c</objectType>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Away_Team_Runs__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Loop_Through_Games.Innings[$EachItem].AwayTeamRuns</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Game__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Loop_Through_Games.Innings[$EachItem].GameID</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Home_Team_Runs__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Loop_Through_Games.Innings[$EachItem].HomeTeamRuns</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Inning_Number__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Loop_Through_Games.Innings[$EachItem].InningNumber</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Inning_Sports_Data_ID__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Loop_Through_Games.Innings[$EachItem].InningID</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>Innings_To_Insert</name>
        <apexClass>ExternalService__GetGames_Getx20Gamesx20Byx20Date_OUT_2XX_Innings</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
